.expl-app-item{
  @include flex-column;
  width: 100%;
  text-align: center;
  background-color: #ffe7d2;
  h2{
    margin: 50px 0;
  }
  .img-container{
    @include flex-center;
    list-style-type: none;
    div{
      width: 200px;
      margin: 50px;
      img{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .rabbit-container img{
    width: 300px;
    margin-bottom: 60px;;
  }
  hr{
    width: 80%;
    margin: auto;
  }
}

.learn-app-item{
  width: 100%;
  padding: 25px 0;
  padding-top: 80px;
  @include flex-center;
  .img-block{
    width: 50%;
    img{
      width: 100%;
    }
  }
  .text-block{
    width: 50%;
    p{
      margin: 30px 0;
    }
    a{
      color: $link-color;
      display: block;
    }
    img{
      width: 300px;
      margin-top: 20px;
    }
  }
}

.pd-25{
  padding-left: 25%;
}