*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

@import "variables";
@import "common";
@import "header";
@import "main";

